/**base**/
body{ font-family:Arial, sans-serif;  font-size:12px;   color:black; overflow-x:hidden; }
a:link , a:visited { color:#333; text-decoration:none;}
a:focus , a:hover , a:active { text-decoration:none;  }